.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px; /* Adjust the navbar height */
  background-color: rgba(20, 20, 20, 0.85); /* Semi-transparent dark background */
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it stays above all content */
}

/* Navbar Container */
.navbar-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo Styles */
.navbar-logo .navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #646cff;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-logo .navbar-brand:hover {
  color: #535bf2; /* Slightly darker shade for hover */
}

/* Navbar Links */
.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #646cff; /* Highlight color */
}

/* Add margin for the content to account for the navbar height */
body {
  margin-top: 70px; /* Match the height of the navbar */
  padding: 0;
  
}